[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AhoCorasickTrie"]
	path = AhoCorasickTrie
	url = https://github.com/chambm/ahocorasicktrie
	shallow = true
	registered = true
